---
import CTA from '@components/CTA.astro'
import FAQ from '@components/FAQ.astro'
import Hero from '@components/Hero.astro'
import Partners from '@components/Partners.astro'
import Pillars from '@components/Pillars.astro'
import OurMission from '@components/OurMission.astro'
import Steps from '@components/Steps.astro'
import PostCard from '@/components/PostCard.astro'


import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import LinesBackground from '@components/LinesBackground.astro'

import { translations } from "../../i18n/translations.ts";


const lang = "en";

const posts = (await getCollection('posts'))

  .filter(post => post.data.lang === lang)
  .sort((first,second) => second.data.publishedAt.getTime() - first.data.publishedAt.getTime());
  
---

<Layout title='Be ready for remote internships'>
  <Hero />
  <Partners />
  <OurMission />
  <Steps />
  <Pillars />
  <CTA />
  <FAQ />
  <section class='relative'>
    <LinesBackground />
    <div
      class='relative px-8 py-12 mx-auto max-w-[1440px] md:px-12 lg:px-32 lg:pt-24'
    >
      <div class='text-center max-w-2xl mx-auto mb-6'>
        <span
          class='text-lg text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text'
          >{translations[lang]["title.resources"]}
        </span>
      </div>
      <div class="flex flex-wrap justify-center gap-6">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post: any) => (
                <PostCard
                  lang={lang}
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  imgCard={post.data.imgCard}
                  slug={post.slug}
                />
              ))
        }
      </div>
    </div>
  </section>
</Layout>