---
type ItemPartner = {
  name: string
  logo: string
}

const dataPartners: ItemPartner[] = [
  {
    name: 'Beek',
    logo: './partners/beek.svg'
  },
  {
    name: 'Leadsales',
    logo: './partners/leadsales.svg'
  },
  {
    name: 'Nulinga',
    logo: './partners/nulinga.svg'
  },
  {
    name: 'nowports',
    logo: './partners/nowports.svg'
  },
  {
    name: 'Kontempo',
    logo: './partners/kontempo-mx-logo.png'
  },
  {
    name: 'Runa',
    logo: './partners/runa.webp'
  },
  {
    name: 'Finkargo',
    logo: './partners/Finkargo.png'
  },
  {
    name: 'zubale',
    logo: './partners/zubale.svg'
  }
]
---

<section
  class='max-w-[1440px] flex flex-col justify-center bg-vulcan-900 border-white/5 border-y py-5 items-center gap-6 overflow-hidden'
>
  <!-- <p>Inicia tu carrera en las top startups de LatAm</p> -->
  <!-- Logo Carousel animation -->
  <!-- <div class='w-full max-w-5xl mx-auto px-4 md:px-6 py-5'>
    <div
      class='w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]'
    >
      <ul
        class='flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll'
      >
        {
          dataPartners.map((partner) => (
            <li>
              <img
                class='w-[130px] object-contain aspect-[2/1]'
                src={partner.logo}
                alt={partner.name}
              />
            </li>
          ))
        }
      </ul>
      <ul
        class='flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll'
        aria-hidden='true'
      >
        {
          dataPartners.map((partner) => (
            <li>
              <img
                class='w-[150px] object-contain aspect-[2/1]'
                src={partner.logo}
                alt={partner.name}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div> -->
  <div
    class='w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]'
  >
    <ul
      class='flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll'
    >
      {
        dataPartners.map((partner) => (
          <li>
            <img
              class='w-[120px] object-contain aspect-[2/1]'
              src={partner.logo}
              alt={partner.name}
            />
          </li>
        ))
      }
    </ul>
    <ul
      class='flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll'
      aria-hidden='true'
    >
      {
        dataPartners.map((partner) => (
          <li>
            <img
              class='w-[120px] object-contain aspect-[2/1]'
              src={partner.logo}
              alt={partner.name}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>
